*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.conta{
  height: 100vh;
  overflow: hidden;
  --backgound: #F2F2F2;
}
.titulo{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-top: 70px;
  margin-bottom: 40px;
}
.plano_fundo{
  background: url("https://images.pexels.com/photos/5320085/pexels-photo-5320085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
}


.input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

h3{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 15px;
}

.botao-criar{
  --background: #17A6A6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botao-facebook{
  --background: #3b5998;
  margin-bottom: 15px;
}
.botao-twitter{
  --background: #00acee;
  margin-bottom: 15px;
}

#botao-google{
  --background: #A63333;
  align-items: center;
  margin-bottom: 15px;
}