*{
  --background:#C7B1E1 ;
}

.ion-justify-content-center{
  margin-top: 15vh;
}

.container{
  --color: cornsilk;
  background: #A0DED7;
  border: 3px solid #5A918B;
  border-radius: 15px;
}

.conta_resultado{
  background-color: #ffe1ea;
  height: 13vh;
  margin: 10px;
  border: 2px solid #5A918B;
  border-radius: 15px;
}

.container_conta{
  --color: black;
  align-items: center;
}

.resultado{
  margin-left: 15px;
  --color: gray;
}

// BOTÕES
#mostrar_resposta{
  --background:#99F2D1;
  color: #5A918B;
}

#botao_numeros{
  --background:#D9B0BB;
}

#botao_operacao{
  --background:#C7B1E1;
  --color: black;
   width: 60px;
}

#botao_virgula{
  --background:#D9B0BB;
}

#botao_limpa{
  --background: #C7B1E1;
  color: #5A918B;
  width: 60px;
}

#botao_limpar{
  --background: #C7B1E1;
  width: 65px;
}

#botao_limpar span{
  font-size: 20px;
  color: black;
}

//Responsivo
@media (max-width: 280px){
  #botao_numeros{
    --background:#D9B0BB;
    width: 40px;
  }
  
  #botao_operacao{
     width: 40px;
  }

  #botao_limpa{
    width: 40px;
  }

  #botao_limpar{
    font-size: 2em;
    width: 55px;
  }

  #botao_limpar span{
    font-size: 20px;
  }
}
