<ion-content [fullscreen]="true">
  <div id="container">
    <!-- Parte de cima -->
    <ion-row>
      <ion-col>
        <ion-row class="conta">
          <ion-col size="12">{{ this.conta }}</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Teclado -->
    <ion-row class="primeira_linha">
      <ion-col size="3"><ion-button (click)="limpaTela()">C</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="trocaSinal()">+/-</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="apagar()">x</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('/')">/</ion-button></ion-col>
    </ion-row>

    <ion-row class="segunda_linha">
      <ion-col size="3"><ion-button (click)="exibir('7')">7</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('8')">8</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('9')">9</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('*')">*</ion-button></ion-col>
    </ion-row>

    <ion-row class="terceira_linha">
      <ion-col size="3"><ion-button (click)="exibir('4')">4</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('5')">5</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('6')">6</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('-')">-</ion-button></ion-col>
    </ion-row>

    <ion-row class="quarta_linha">
      <ion-col size="3"><ion-button (click)="exibir('1')">1</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('2')">2</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('3')">3</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('+')">+</ion-button></ion-col>
    </ion-row>

    <ion-row class="quinta linha">
      <ion-col size="3"><ion-button (click)="exibir('.')">.</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="exibir('0')">0</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="calculate()">=</ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="porcentagem()">%</ion-button></ion-col>

    </ion-row>

  </div>
</ion-content>
