ion-toolbar{
  --background:#8C633F;
}
.titulo{
  font-size: 1.5rem;
  color: #260101;
}
.calendario{
  background: #BFB093;
  // &__ concatena dentro 
  &__container{
    background:#9F7148 ;
  }
  &__foto {
    border-radius: 20px;
  }
  &__mes {
    font-size: 2rem; //vai fazer 200% acima do que for o padrão da tela 
    color: #260101;
  }
  &__ano { 
    font-size: 2rem;
    color: #260101;
  }
  &__dia-semana { 
    font-size: 1.5rem;
    color: #590202;
    margin: 30px;
    
  }
  &__dia { 
    font-size: 1.2rem;
    
  }
}